<div class='switch-control' {{action 'click'}}>
  <span class='switch-state-label'>
    {{if isOn 'On' 'Off'}}
  </span>
  <span class='switch-btn'></span>
</div>
<div class='switch-label'>{{label}}</div>
