// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
*
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit


BODY
  font-size: 12px
  padding: 0
  margin: 0
  background: #000
  color: #000
  font-family: Helvetica

A, BUTTON
  cursor: pointer

H1
  font-size: 14px
  padding: 0
  margin: 0
  text-align: center

H2
  padding: 0
  margin: 0 0 10px
  font-size: 16px
  text-align: center

SELECT
  appearance: none
  -webkit-appearance: none
  background-color: #FFF
  padding: 16px 5px
  border-radius: 4px
  font-size: 16px


// -----------------------------------------------------------------------------
// Page Layout
// -----------------------------------------------------------------------------
$LCD_WIDTH = 800px
$LCD_HEIGHT = 480px
$LCD_OFFSET = 140px

.page-layout-item
  position: absolute

#LCD
  top: 0px
  left: $LCD_OFFSET
  width: $LCD_WIDTH
  height: $LCD_HEIGHT

#Focus
  top: 60px
  left: 20px

#Menu
  top: 60px
  left: $LCD_WIDTH + $LCD_OFFSET + 40px

#PtzSpeeds
  top: 200px
  left: $LCD_WIDTH + $LCD_OFFSET + 40px

#ControlBus
  top: $LCD_HEIGHT + 20px
  left: $LCD_OFFSET + 100px


// -----------------------------------------------------------------------------
// Structure
// -----------------------------------------------------------------------------
.lcd-wrapper
  display: flex
  display: -webket-flex
  flex-direction: column
  -webkit-flex-direction: column
  border: 2px solid #000
  background: #CCC

  .main
    // display: flex
    display: -webket-flex
    flex: 1
    -webket-flex: 1
    padding: 10px
    .page-content
      height: 342px

  .status-bar
    padding: 4px 10px
    background: #999

    .head
      display: flex
      display: -webket-flex
      margin-bottom: 4px
      H1
        flex-grow: 1
        -webkit-flex-grow: 1

    .date
      position: absolute

    .label
      width: 80px
    INPUT
      width: 100px

    NAV UL
      display: flex
      display: -webkit-flex
      margin: 0
      padding: 0
      list-style: none
      LI
        display: inline-block
        list-style: none
        flex-grow: 1
        -webkit-flex-grow: 1

  .foot
    display: flex
    display: -webket-flex
    border-top: 1px solid #333
    padding: 4px 10px

  .page-nav
    text-align: right
    margin-bottom: -90px
    display: flex
    display: -webket-flex
    flex-direction: row-reverse
    -webkit-flex-direction: row-reverse


// -----------------------------------------------------------------------------
// Layouts
// -----------------------------------------------------------------------------
.flex-rows
  height: 100%
  display: flex
  display: -webket-flex
  flex-direction: column
  -webkit-flex-direction: column
  .flex-item
    flex: 1

// -----------------------------------------------------------------------------
// Components
// -----------------------------------------------------------------------------
.btn
  display: inline-block
  line-height: 40px
  padding: 6px 12px
  border: 1px solid #000
  border-radius 4px
  background-color: #EEE
  color: #000
  font-size: 16px
  text-decoration: none

.btn-disabled
  background-color: #BBB
  border-color: #AAA
  color: #666


.tile-btn
  display: flex
  display: -webket-flex
  flex-direction: column
  -webkit-flex-direction: column
  width: 100px
  height: 100px
  line-height: 20px
  margin: 10px 10px
  text-align: center
  .icon
    display: flex
    display: -webkit-flex
    flex: 1
    -webket-flex: 1
    border: 1px dotted #666
    margin: 4px 0 6px
    line-height: 12px
    font-size: 12px

.tiles
  display: flex
  display: -webket-flex
  flex-wrap: wrap
  -webkit-flex-wrap: wrap

.fields
  margin: 0
  padding: 0
  list-style: none
  .field
    margin: 0
    height: 100px
  .field > *
    vertical-align: top

.fields.horizontal
  .field
    display: inline-block
    margin-right: 10px


// Flip Switch
.switch
  display: inline-block
  appearance: none
  -webkit-appearance: none
  margin-right: 10px
  font-size: 16px
  text-align: center
  border: none
  background: transparent

.switch-label
  font-size: 12px

.switch-control
  display: inline-block
  width: 100px
  height: 48px
  padding: 2px
  border: 1px solid #666
  border-radius: 16px
  .switch.on &
    background-color: #0C0
  .switch.off &
    background-color: #C00

.switch-btn
  float: left
  display: inline-block
  width: 46px
  height: 46px
  border: 1px solid #666
  border-radius: 12px
  background: #999

.switch-state-label
  float: right
  padding: 0 10px
  line-height: 44px

.switch.on .switch-control
  .switch-btn
    float: right
  .switch-state-label
    float: left

// Slider
.slider
  margin-top: 30px

.slider-controls
  display: flex
  display: -webket-flex

.slider-info
  margin-top: 35px
  text-align: center

.slider-value
  display: inline-block
  min-width: 100px
  line-height: 40px
  padding: 0 6px
  border-radius: 6px
  background: #FFF
  font-size: 26px
  text-align: right

.slider-bar
  flex: 1
  -webket-flex: 1
  position: relative
  height: 52px
  margin: 0 10px
  border: 1px solid #666
  border-radius: 5px
  background: #DDD
  cursor: pointer

.slider-grip
  position: absolute
  top: -15px
  left: 39%
  display: inline-block
  width: 30px
  height: 80px
  background: #999
  border: 1px solid #666
  border-radius: 15px
  cursor: col-resize

.slider-btn
  width: 40px
  font-size: 30px

// -----------------------------------------------------------------------------
// Component Instances
// -----------------------------------------------------------------------------
.foot .tile-btn,
.page-nav .tile-btn
  width: 60px
  height: 40px

.page-nav .tile-btn
  width: 148px

.preset-tiles .tile-btn
  width: 148px
  height: 38px

// -----------------------------------------------------------------------------
// Page Instances
// -----------------------------------------------------------------------------
.page-content.ccu
  .switch
    margin-right: 30px
  .btn
    width: 100px
    margin-right: 10px

.page-content.ccu-scenes
  .btn
    width: 200px

.edit-attr
  H2
    font-size: 30px

// -----------------------------------------------------------------------------
// What Am I?
// -----------------------------------------------------------------------------
.control-group
  H3
    font-size: 16px
    font-weight: bold

// -----------------------------------------------------------------------------
// Physical
// -----------------------------------------------------------------------------
.physical, .physical A
  color: #FFF

  EM
    display: block
    font-style: normal

  BUTTON
    width: 30px
    height: 10px
    border-radius: 10px
    background: #222
    margin: 0 10px

.p-btn-bus
  margin: 10px 0
  EM
    display: inline-block

.p-knob
  .p-btn
    cursor: grab
    cursor: -webkit-grab
    display: inline-block
    width: 72px
    height: 72px
    border: 6px outset
    border-radius: 46px
    background: #222
  EM
    text-align: center
    margin: 0px auto 4px

.p-ptz-controls
  EM
    margin: 0 0 10px

.p-ptz-control
  display: inline-block
  width: 50px
  text-align: center
  .p-btn
    width: 20px
    height: 20px
    margin: 0px auto
    border-width: 2px
    border-radius: 20px

@keyframes pBtnError {
   0%  { border-color:  #333 }
   50% { border-color:  #FFF }
  100% { border-color:  #333 }
}


.p-btn, .p-btn-bus BUTTON
  &:ACTIVE
    cursor: pointer
  &.p-btn-inactive
    border-color:  #333
  &.p-btn-active
    border-color:  #FFF
  &.p-btn-error
    -webkit-animation-name: pBtnError
    -webkit-animation-duration: 1s
    -webkit-animation-iteration-count: infinite;
  &.p-btn-selected
    border-color: #33F
