<div class='page-content'>
  <h2>Podium Cam (2) &ndash; RS-30 USB &raquo; Store Preset</h2>

  <ul class='fields'>
    <li class='field'>
      {{view "select"
        content=presets
        optionValuePath="content"
        optionLabelPath="content.name"
      }}
    </li>

    <li class='field'>
      {{switch-button label='Trisync'}}
      {{#link-to "edit-attr" "trisync" classNames="btn" }}Trisync Speed...{{/link-to}}
    </li>

    <li class='field'>
      {{switch-button label='Color Settings'}}
    </li>
  </ul>
</div>

<div class='tiles page-nav'>
  {{#link-to 'preset' class='btn tile-btn'}}
    <span class='icon'>~icon~</span>
    <span class='text'>Save</span>
  {{/link-to}}

  {{back-button}}
</div>
