<div class='page-content ccu-scenes'>
  <h2>Podium Cam (2) &ndash; RS-30 USB &raquo; Scenes</h2>

  <div class='tiles preset-tiles'>
    {{#each}}
      {{#link-to 'ccu-scene' class='btn tile-btn'}}
        <span class='icon'>~icon~</span>
        <span class='text'>{{name}}</span>
      {{/link-to}}
    {{/each}}
  </div>
</div>

<div class='tiles page-nav'>
{{back-button}}
</div>
