<div class='page-content ccu'>
  <h2>Podium Cam (2) &ndash; RS-30 USB &raquo; Active Color Settings</h2>

  <ul class='fields'>
    <li class='field'>
      {{switch-button label='Auto Iris'}}
      {{#link-to "edit-attr" "iris" classNames="btn" }}Iris...{{/link-to}}
      {{#link-to "edit-attr" "iris-gain" classNames="btn" }}Iris Gain...{{/link-to}}
      {{switch-button label='Back Light Compensation'}}
    </li>
  </ul>

  <ul class='fields'>
    <li class='field'>
      {{switch-button label='Auto White Balance'}}
      {{#link-to "edit-attr" "red" classNames="btn" }}Red Gain...{{/link-to}}
      {{#link-to "edit-attr" "blue" classNames="btn" }}Blue Gain...{{/link-to}}
      {{#link-to "edit-attr" "opwb" classNames="btn" }}One Push...{{/link-to}}
    </li>
  </ul>

  <ul class='fields horizontal'>
    <li class='field'>
      {{#link-to "edit-attr" "detail" classNames="btn" }}Detail...{{/link-to}}
      {{#link-to "edit-attr" "chroma" classNames="btn" }}Chroma...{{/link-to}}
      {{#link-to "edit-attr" "gamma" classNames="btn" }}Gamma...{{/link-to}}
      {{#link-to "edit-attr" "brightness" classNames="btn" }}Brightness...{{/link-to}}
    </li>
  </ul>
</div>

<div class='tiles page-nav'>
  {{#link-to 'preset' class='btn tile-btn'}}
    <span class='icon'>~icon~</span>
    <span class='text'>Store...</span>
  {{/link-to}}

  {{back-button}}
</div>
