<div class='page-content'>
  <h2>Address Book</h2>

  <div class='flex-rows control-groups'>
    {{#each}}
      <div class='flex-item control-group'>
        <h3>{{name}}</h3>
        <ul class='fields horizontal'>
          <li class='field'>
            {{switch-button}}
          </li>
          <li class='field'>
            <select>
              <option>Training Room 101</option>
              <option>Rotunda Hall</option>
              <option>North Classroom</option>
              <option>Auditorium</option>
              <option>Other Group 5</option>
              <option>Other Group 6</option>
              <option>Other Group 7</option>
              <option>Other Group 8</option>
              <option>Other Group 9</option>
              <option>10 Is The Max Num of Groups</option>
            </select>
          </li>
          <li class='field'>
            {{#link-to 'macro' class='btn'}}Info...{{/link-to}}
          </li>
        </ul>
      </div>
    {{/each}}
  </div>
</div>

<div class='tiles page-nav'>
  {{#link-to 'home' class='btn tile-btn'}}
    <span class='icon'>~icon~</span>
    <span class='text'>Back</span>
  {{/link-to}}
</div>
