<div class='page-content'>
  <h2>Podium Cam (2) &ndash; RS-30 USB</h2>

  <div class='tiles preset-tiles'>
    {{#each}}
      {{#link-to 'preset' class='btn tile-btn'}}
        <span class='icon'>~icon~</span>
        <span class='text'>{{name}}</span>
      {{/link-to}}
    {{/each}}
  </div>
</div>

<div class='tiles page-nav'>
  {{#link-to 'preset/store' class='btn tile-btn'}}
    <span class='icon'>~icon~</span>
    <span class='text'>Store Preset...</span>
  {{/link-to}}

  {{#link-to 'home' class='btn tile-btn'}}
    <span class='icon'>~icon~</span>
    <span class='text'>Back</span>
  {{/link-to}}
</div>
