<div class='page-content'>
  <h2>Streaming &raquo; Control Group B?</h2>

  <div class='tiles preset-tiles'>
    {{#each}}
      {{#link-to 'macro' class='btn tile-btn'}}
        <span class='icon'>~icon~</span>
        <span class='text'>{{name}}</span>
      {{/link-to}}
    {{/each}}
  </div>
</div>

<div class='tiles page-nav'>
  {{back-button}}
</div>
